@font-face {
    font-family: Playfair Display bold;
    src: url("./../fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("./../fonts/Raleway-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Raleway";
}

body {
    background: #080706;
    padding: 40px 120px 40px 120px; /* top | right | bottom | left */
}

form {
    border: 2px solid #FF0000;
    border-radius: 5px;
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.form {
    border: 2px solid #FF0000;
    border-radius: 5px;
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.admin {
    display: none;
}

/* form input {
    width: 100%;
} */

h1 {
    text-align: center;
    margin: 20px;
}

p {
    word-wrap: break-word;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition-delay: 5s;
}

a:hover {
    text-decoration: underline;
}

input {
    border: 2px solid #FF0000;
    border-radius: 3px;
    background-color: transparent;
    font-family: "Raleway";
    margin: 1px;
}

button {
    background: transparent;
    color: #FF0000;
    border: 2px solid #FF0000;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 20px;
    margin: 5px 2px;
}

button:hover {
    background: #FF0000;
    color: #fff;
}

/* header */

header {
    margin-bottom: 20px;
    display: flex;
}

.logo {
    font-size: 44px;
    margin-left: 0;
    justify-self: left;
}

.logo a {
    font-family: "Playfair Display";
}

.menu {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu a {
    font-family: "Raleway";
    font-weight: 400;
    justify-content: space-between;
}

.login {
    margin: auto 0;
}

.login a {
    font-family: "Raleway";
    font-weight: 400;
}

/* home */

.hero {
    position: relative;
}

.hero h1 {
    font-family: "Playfair Display";
}

.hero-david {
    border: 2px solid #FF0000;
    height: 600px;
    width: 450px;
    margin: auto;
}

.hero-david img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bold;
    color: #FF0000;
    width: max-content;
    letter-spacing: 1mm;
    margin-top: -10px;
}

/* pictures */
.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search input {
    width: 20%;
    padding: 5px;
    font-size: 16px;
}

.pictures {
    padding: 120px 0;
}

.card {
    width: 300px;
    height: 450px;
    margin: 20px 0px;
    border: 2px solid #FF0000;
    padding: 5px;
    display: inline-block;
}

.card img {
    max-width: 80%;
    max-height: 80%;
    margin: 2px auto;
    display: block;
}

.card .container {
    padding: 2px 16px;
  }

/* profile */
#profile_info {
    text-align: center;
}




