@font-face {
    font-family: Playfair Display bold;
    src: url("./../fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("./../fonts/Raleway-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Playfair Display";
}

body {
    background: #080706;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition-delay: 5s;
}

a:hover {
    text-decoration: underline;
}

input {
    border: 2px solid #FF0000;
    border-radius: 3px;
    background-color: transparent;
    font-family: "Raleway";
}

button {
    background: transparent;
    color: #FF0000;
    border: 2px solid #FF0000;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 20px;
}

button:hover {
    background: #FF0000;
    color: #fff;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    padding: 46px 120px 25px 120px; /* top | right | bottom | left */
}

.logo {
    font-size: 44px;
    margin-top: -25px;
    margin-left: 0;
}

.menu {
    width: 430px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu a {
    font-family: "Raleway";
    font-weight: 400;
    justify-content: space-between;
}

.login a {
    font-family: "Raleway";
    font-weight: 400;
    margin-right: 0;
}

/* home */

.hero {
    position: relative;
}

.hero-david {
    border: 2px solid #FF0000;
    height: 600px;
    width: 450px;
    margin: auto;
}

.hero-david img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bold;
    color: #FF0000;
    letter-spacing: 1mm;
    margin-top: -10px;
}

/* pictures */
.search {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search input {
    width: 20%;
    padding: 5px;
    font-size: 16px;
}

.pictures {
    padding: 120px 0;
}

.card {
    width: 300px;
    height: 450px;
    border: 2px solid #FF0000;
    padding: 5px;
}

.card img {
    max-width: 80%;
    max-height: 80%;
}

.card .container {
    padding: 2px 16px;
  }





