<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../static/js/admin.js" th:src="@{../js/admin.js}"></script>
    <title>Document</title>
</head>
<body>
<p>new picture</p>
<div class="container">
    <p>name:
        <input type="text" id="pictureName" />
    </p>
    <p> author name:
        <input type="text" id="pictureAuthorName" />
    </p>
    <p> category name:
        <input type="text" id="pictureCategoryName" />
    </p>
    <p> year:
        <input type="text" id="pictureYear" />
    </p>
    <p> info:
        <input type="text" id="pictureInfo" />
    </p>
    <button onclick="addPicture()">add picture</button>
</div>
<p>new author</p>
<div class="container">
    <p>name:
        <input type="text" id="authorName" />
    </p>
    <p> info:
        <input type="text" id="authorInfo" />
    </p>
    <button onclick="addAuthor()">add author</button>
</div>
<p>new category</p>
<div class="container">
    <p>name:
        <input type="text" id="categoryName" />
    </p>
    <p> info:
        <input type="text" id="categoryInfo" />
    </p>
    <button onclick="addCategory()">add category</button>
</div>
<button onclick="getUsersList()">get users list</button>
<table id="usersTable"></table>
</body>
</html>