<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../static/js/index.js" th:src="@{../js/index.js}"></script>
    <link rel="stylesheet" href="./../../static/css/style.css"  th:href="@{../css/style.css}">
    <script type="text/javascript" src="../static/js/admin.js" th:src="@{../js/admin.js}"></script>
    <title>Admin</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">CADRE</a>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/pictures">Pictures</a>
            <a href="/categories">Categories</a>
            <a href="/authors">Authors</a>
            <a href="/collections">Collections</a>
        </div>
    </header>
<p style="margin: 0 auto; display:block; text-align: center">new picture</p>
<form>
    <p>name:
        <input type="text" id="pictureName" />
    </p>
    <p> author name:
        <input type="text" id="pictureAuthorName" />
    </p>
    <p> category name:
        <input type="text" id="pictureCategoryName" />
    </p>
    <p> year:
        <input type="text" id="pictureYear" />
    </p>
    <p> info:
        <input type="text" id="pictureInfo" />
    </p>
    <p> picture:
        <input type="file" id="picturePicture" accept=".jpg, .jpeg, .png" />
    </p>
    <button onclick="addPicture()">add picture</button>
</form>
<p style="margin: 0 auto; display:block; text-align: center">new author</p>
<form>
    <p>name:
        <input type="text" id="authorName" />
    </p>
    <p> info:
        <input type="text" id="authorInfo" />
    </p>
    <button onclick="addAuthor()">add author</button>
</form>
<p style="margin: 0 auto; display:block; text-align: center">new category</p>
<form>
    <p>name:
        <input type="text" id="categoryName" />
    </p>
    <p> info:
        <input type="text" id="categoryInfo" />
    </p>
    <button onclick="addCategory()">add category</button>
</form>
<button onclick="getUsersList()" style="margin: 0 auto; display:block; text-align: center">get users list</button>
<table id="usersTable"></table>
<script> showMenuAdmin(); getMenuLogin(); checkIsAdmin() </script>
</body>
</html>