<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{../js/login.js}" src="../static/js/login.js"> </script>
    <title>Document</title>
</head>
<body>
<h1>login</h1>
<div class="container">
    <form>
        <p>email:
            <input type="text" id="email" />
        </p>
        <p> password:
            <input type="text" id="password" />
        </p>
        <button onclick="login()"></button>
    </form>
</div>
</body>
</html>