<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../../static/css/style.css"  th:href="@{../css/style.css}">
    <script type="text/javascript" src="../static/js/index.js" th:src="@{../js/index.js}"></script>
    <script type="text/javascript" src="../static/js/pictures.js" th:src="@{../js/pictures.js}"></script>
    <title>Pictures</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">CADRE</a>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/pictures">Pictures</a>
            <a href="/categories">Categories</a>
            <a href="/authors">Authors</a>
            <a href="/collections">Collections</a>
        </div>
    </header>

    <section>
        <div class="search">
            <input id="search" type="text">
            <button onclick="findPictures()">Find</button>
            <button onclick="resetSearch()">Reset</button>
        </div>
    </section>

    <section>
        <div class="collection">
            <p>Enter your collection's name</p><input id="collectionName" type="text">
        </div>
    </section>

    <section>
        <div id="pictures" style="display: grid; grid-template-columns: repeat(4, 1fr);">
        </div>
    </section>
    <script>getPicturesList(); getMenuLogin(); showMenuAdmin();</script>
</body>

</html>