<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/registration.js" th:src="@{../js/registration.js}"></script>
    <script type="text/javascript" src="../static/js/index.js" th:src="@{../js/index.js}"></script>
    <link rel="stylesheet" href="./../../static/css/style.css"  th:href="@{../css/style.css}">
    <title>Registration</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">CADRE</a>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/pictures">Pictures</a>
            <a href="/categories">Categories</a>
            <a href="/authors">Authors</a>
            <a href="/collections">Collections</a>
        </div>
    </header>

<h1>registration</h1>
<div class="container">
    <form>
        <p>email:
            <input type="text" id="email" />
        </p>
        <p> username:
            <input type="text" id="username" />
        </p>
        <p> password:
            <input type="text" id="password" />
        </p>
        <button onclick="register()">Register</button>
    </form>
    <p id="message"></p>
</div>
</body>
</html>